@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100;200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&family=Inter:wght@100;200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&family=Inter:wght@100;200;400&family=Rye&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.15.0/font/bootstrap-icons.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    text-decoration: none;
   
}

html {
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    overflow-x: hidden;
    background-color: #1f1e1f;
}


.first-section {
    height: 100vh;
    background-image: linear-gradient(rgba(29, 29, 19, 0.8), rgba(29, 29, 29, 0.8)), url(imagens/logos/form.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 50px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.first-section .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#titulo {
    color: rgb(255, 255, 255);
    margin-left: 7%;
    text-align: center;
    margin-top: 5rem;
    font-size: 3rem;
    
}

fieldset {
    border: 0;
}


input,
select,
textarea,
button {
    border-radius: 5px;
}

.campo {
    margin-bottom: 1em;
}

.campo label {
    font-size: 15px;
    margin-bottom: 0.2em;
    color: #ffffff;
    display: block;
    font-family: 'Inter', sans-serif;
}

fieldset.grupo .campo {
    float: left;
    margin-right: 1em;
}



.campo input[type="text"],
.campo input[type="email"],
.campo select,
.campo textarea {
    padding: 0.2em;
    border: 1px solid #9d8842;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: block;
}

textarea {
    width: 100%;
    height: 60px;
}

.campo select option {
    padding-right: 1em;
}

.campo input:focus,
.campo select:focus,
.campo textarea:focus {
    background-color: #ffffff;
}

.botao {
    font-size: 1.2em;
    background: #ffc506;
    border: 0;
    margin-bottom: 1em;
    color: white;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    margin: auto;
    display: block;
    margin-top: 40px;
}

.botao:hover {
    background: #fffdbb;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: none;
}

#check {
    display: inline-block;
}

#fundo-branco {
    background: rgba(0, 0, 0, 0.716);
    display: inline-block;
    padding: 50px;
    border-radius: 10px;
}

input[type="radio"] {
    margin-right: 5px;

}

@media(max-width: 768px) {

    .campo {
        margin-bottom: 2em;
        margin-left: 6em;
        align-items: center;
    }

    .campo label {
        font-size: 10px;
        margin-bottom: 0.2em;
    }

    textarea {
        width: 80%;
        height: 50px;
        right: 50px;
        align-items: center;
    }

    .campo select option {
        padding-right: 1em;
    }

    .campo input:focus,
    .campo select:focus,
    .campo textarea:focus {
        background-color: #ffffff;
    }

    .botao {
        font-size: 1.2em;
        background: #ffc506;
        border: 0;
        margin-bottom: 1em;
        color: white;
        padding: 0.2em 0.6em;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        margin: auto;
        display: block;
        margin-top: 40px;
    }

    .botao:hover {
        background: #fffdbb;
        box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
        text-shadow: none;
    }

    #check {
        display: inline-block;
    }

    #fundo-branco {
        background: rgba(0, 0, 0, 0.716);
        display: inline-block;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 5px;
        padding-bottom: 20px;
    }


}