@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100;200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&family=Inter:wght@100;200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&family=Inter:wght@100;200;400&family=Rye&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.15.0/font/bootstrap-icons.css');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Inter', sans-serif;
}

html {
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    overflow-x: hidden;
    background-color: #1f1e1f;
}

/*priemira sessão*/

.first-section {
    height: 100vh;
    background-image: linear-gradient(rgba(29, 29, 19, 0.8), rgba(29, 29, 29, 0.8)), url(imagens/logos/fundo\ \(1\).png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 50px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-section .conteudo-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.first-section h1 {
    color: #ffc506;
    font-size: 7rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Bungee', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Rye', serif;
}

.first-section h2 {
    color: beige;
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 3rem;
}

.btn button {
    width: 230px;
    height: 60px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #ffc506;
    border-radius: 10px;
    color: black;
    font-weight: 700;
    margin-top: 5rem;
    transition: all 400ms ease-in;
    margin-right: 10px;
    text-decoration: none;
}


.btn button:hover {
    border: 1px solid #ffc506;
    background-color: transparent;
    color: #ffc506;
}

.btn {
    width: 480px;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}


/*sobre nos*/

.sobre-nos {
    background-color: #ffc506;
    width: 100%;
    padding-bottom: 5rem;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

.sobre-nos .img-cozinha img {
    width: 400px;
    height: 400px;
    margin-top: 10rem;
    margin-left: 10rem;
    border: 2px solid rgb(155, 155, 155);
}

.main {
    display: flex;
    justify-content: space-between;
}

.contentsobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contentsobre h2 {
    font-size: 6rem;
    margin-bottom: 1rem;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Bungee', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Rye', serif;
}

.contentsobre p {
    text-align: justify;
    font-size: 1.8rem;
    width: 600px;
}

/*promo*/

.card {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: rgb(0, 0, 0);
}

.card .ofertas {
    height: 80vh;
    background-image: linear-gradient(rgba(29, 29, 19, 0.6), rgba(29, 29, 29, 0.6)), url(imagens/promo/1.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card .promo {
    height: 80vh;
    background-image: linear-gradient(rgba(29, 29, 19, 0.6), rgba(29, 29, 29, 0.6)), url(imagens/promo/2.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ofertas h2,
.promo h2 {
    color: #ffc506;
    align-items: center;
    margin-top: 5rem;
    font-size: 7rem;
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
}

/*criterios*/

.criteriosContainer {
    display: flex;

}

.criteriosDiv {
    display: flex;
    position: relative;
    height: 80vh;
    overflow: hidden;
    width: 50vw;
    flex-direction: column;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    top: 0;
    left: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(29, 29, 19, 0.8), rgba(29, 29, 29, 0.8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.8rem;
}

.overlay h1 {
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Bungee', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Rye', serif;
    font-size: 5rem;
    overflow: hidden;
    background: linear-gradient(100deg, #ffc506, #ffc506, #ffc506);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 10s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
    0% {
        background-position: -500%;
    }

    100% {
        background-position: 500%;
    }

}


/*contatos*/

.contatos {
    width: 100%;
    background-color: #1f1e1f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    color: white;
    padding-bottom: 4rem;
}

.contatos h3 {
    font-size: 6rem;
    margin-bottom: 3rem;
}

.contatos-secao {
    width: 650px;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
}

.contatos-secao i {
    margin-right: 1rem;
}

.contatos-secao div {
    cursor: pointer;
    transition: all 200ms ease-in;
}

.contatos-secao div:hover {
    color: #ffc506;
}

/*anuncio*/

.anuncio {
    width: 100%;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    color: #ffc5066a;
    padding-bottom: 4rem;
}

.anuncio h1 {
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Bungee', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Rye', serif;
    font-size: 7rem;
    color: #ffc506;
    margin-bottom: 1rem;
}

.anuncio h2 {
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 4rem;
}

.anuncio h3 {
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3rem;
    text-align: right;
    margin-top: 0;
}


/*footer*/

.site-footer {
    background-color: #26272b;
    width: 100vw;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #737373;
}


.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer .links-footer {
    margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 4rem;
    font-size: 2rem;
    text-align: center;
}

.site-footer h6 {
    color: #fff;
    font-size: 3rem;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}


.site-footer a {
    color: #737373;
    text-decoration: none;
}


.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #ffc506;
    text-decoration: none;
}


.site-footer .social-icons {
    text-align: center;
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d
}

.copyright-text {
    margin: 0
}


.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a.facebook:hover {
    background-color: #3b5998
}

.social-icons a.twitter:hover {
    background-color: #00aced
}

.social-icons a.linkedin:hover {
    background-color: #007bb6
}

.social-icons a.dribbble:hover {
    background-color: #ea4c89
}



/*responsividade*/


@media (max-width: 1200px) {
    .main {
        display: block;
    }

    .content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 12%;
        padding-left: 0px;
    }

    .sobre-nos img {
        width: 600px;
        height: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 992px) {
    html {
        font-size: 50%;
    }
}

@media(max-width: 768px) {

    html {
        font-size: 45%;
    }

    .conteudo-principal h1 {
        width: 500px;
        margin: 0 auto;
        text-align: center;
        font-size: 6rem;
    }

    .contatos-secao {
        display: block;
        text-align: center;
        font-size: 2rem;
    }

    .contatos-secao .div {
        margin: 1rem;
    }

    .site-footer [class^=col-] {
        margin-bottom: 30px
    }

    .criteriosContainer .overlay h1 {
        text-align: center;
        font-size: 5rem;

    }

    
.anuncio {
    width: 100%;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    color: #ffc5066a;
    padding-bottom: 4rem;
}

.anuncio h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.anuncio h2 {
    font-size: 3rem;
    padding: 6px;
}

.anuncio h3 {
    font-size: 3rem;
    text-align: right;
    margin-top: 0;
    padding: 6px;
}
}

@media(max-width: 600px) {
    .conteudo-principal h1 {
        width: 500px;
        margin: 0 auto;
        text-align: center;
        font-size: 4rem;
    }


    .conteudo-principal h2 {
        font-size: 2rem;
    }

    .sobre-nos img {
        width: 400px;
        height: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }


    .sobre-nos h2 {
        font-size: 1.5rem;
        text-align: center;
        width: 400px;
    }

    .sobre-nos p {
        text-align: center;
        width: 400px;
    }

    .contatos-secao {
        width: 300px;
    }

    .criteriosContainer .overlay h1 {
        text-align: center;
        font-size: 3rem;

    }

    .card h2 {
        text-align: center;
        font-size: 4.5rem;
    }

}

@media(max-width: 500px) {
    .btn {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 150px;
    }

    .btn button {
        font-size: 2rem;
        width: 100%;
        padding: 20px;
    }

    .conteudo-principal h1 {
        width: 350px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 3rem;
    }

    .conteudo-principal h2 {
        width: 200px;
        font-size: 2rem;
        text-align: center;
    }

    .site-footer {
        padding-bottom: 0
    }

    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center
    }

    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }

    .sobre-nos h2 {
        font-size: 3rem;
    }

    .sobre-nos img {
        display: none;
    }
}