body {
    font-family: Arial, sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
    background-color: #8fe5f6;
}

div, p, span, ul, li, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

 a{
    display: none;
}

.oculto {
    display: none;
}

.visivel {
    display: block;
}

.limpar {
    clear: both;
}

.texto-centro {
    text-align: center;
}

.margem-automatica {
    margin: 0 auto;
}

.preenchimento5 {
    padding: 5px;
}

.cursor-ponteiro {
    cursor: pointer;
}

.caixa-tv {
    width: 600px;
    height: 300px;
    border-radius: 5px;
    background: #333;
    margin: 60px auto 0;
    padding: 10px 20px;
    position: relative;
    z-index: 2;
}


.base-da-tv {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #1f201f;
    margin: -40px auto 0;
}

.janela-de-apagao {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 600px;
    height: 300px;
    background: rgb(244, 4, 4);
    opacity: 0.5;
    z-index: 3;
}

.janela-de-volumeP{
    position: absolute;
    top: 10px;
    left: 20px;
    width: 600px;
    height: 300px;
    background-color: gray;
    opacity: 0.5;
    z-index: 3;
}


.janela-de-volumeN{
    position: absolute;
    top: 10px;
    left: 20px;
    width: 600px;
    height: 300px;
    background-color: gray;
    opacity: 0.5;
    z-index: 3;
}

.janela-de-volumeN, .janela-de-volumeP,p{
    font-size: 30px;
}

/* Estilos para o controle remoto começam aqui */
.controle-remoto {
    width: 120px;
    height: 300px;
    border-radius: 5px;
    background: #332632;
    margin: -350px 0 0 50px;
    padding: 10px;
}

.botao-remoto {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
}

.botao-numero li {
    display: inline-block;
    text-align: center;
    width: 17px;
    height: 17px;
    cursor: pointer;
    border-radius: 50%;
    margin: 5px;
    border: 2px solid #fff;
    color: #fff;
}

 .desligar {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #fff;
    color: #fff;
    background-color: red;
    cursor: pointer;
}

.ligar{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #fff;
    color: #fff;
    background-color: #3dde1d;
    cursor: pointer;
}

.controle-de-volume-e-canal li {
    display: inline-block;
    margin: 5px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    border-radius: 20px;
    border: 2px solid #fff;
    color: #fff;
    text-align: center;
    font-size: 10px;
}

.posicao-remota {
    transform: rotateX(60deg);
    position: fixed;
    height: 500px;
}
